
<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
  <h4 class="my-5" > Open Issues</h4>

     <div class = "row row-cols3 g-2">
         {% for i in issue %}
         {% if i.closed_by == None %}
         <div class = "col col-sm-4">
             <div class = "card" style="width: 18rem;">
             <p class="card-title" >Issue ID: {{i.id}}</p>
             <p class="card-title">Issue Title: {{i.title}}</p>
             <a href="{% url 'issue.detail' pk=i.id %}", class = "btn btn-primary">Open</a> <br>
             <form method="POST" action="{% url 'issue.close' i.pk %}">
             {% csrf_token %}
             <button type="submit" class="btn btn-primary"  style="width: 288px">Close Ticket</button>
             </form>
             </div>
         </div>
         {% endif %}
         {% endfor %}

     </div>
      <h4 class="my-5" > Closed Issues</h4>

     <div class = "row row-cols3 g-2">
         {% for i in issue %}
         {% if i.closed_by != None %}
         <div class = "col col-sm-4">
             <div class = "card" style="width: 18rem;">
             <p class="card-title">Issue ID: {{i.id}}</p>
             <p class="card-title">Issue Title: {{i.title}}</p>
             <a href="{% url 'issue.detail' pk=i.id %}", class = "btn btn-primary">Open</a>

             </div>
         </div>
         {% endif %}
         {% endfor %}

     </div>
<!--      <table cellpadding="2", border="1">-->
<!--          <tr class ="li"> <th> Issue ID </th> <th> Issue Title </th><th>Problem Description</th> <th>Opened by</th> <th>Opened on</th><th>Closed by</th> <th> Closed on</th></tr>-->
<!--          {% for i in issue %}-->
<!--          <tr> <td>{{i.id}}</td>-->
<!--              <td >{{i.title}}</td>-->
<!--              <td>{{i.problem_description}}</td>-->
<!--              <td>{{i.opened_by}}</td>-->
<!--              <td>{{i.raised_on}}</td>-->
<!--              <td>{{i.closed_by}}</td>-->
<!--              <td>{{i.closed_on}}</td>-->
<!--          </tr>-->
<!--          {% endfor %}-->
<!--      </table>-->





{% endblock %}
